.container {
  margin-top: 10px;
}

.purchase-card {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.showMoreDetails {
  margin-top: 10px;
  padding: 20px;
  background: rgba(224, 220, 220, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
